html {
  background-color: #f8f8f9;
}

body {
  color: #272727;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}
.weather-card {
  padding: "20px";
}

.weather-card:active {
  background-color: cornflowerblue;
}
.active {
  background-color: cornflowerblue;
}
